<section>
  {% trans %}
    <strong>{{ from }}</strong> idmygadgets <em>{{ to }}</em> {{ count }} time.
  {% plural count %}
    <strong>{{ from }}</strong> idmygadgets <em>{{ to }}</em> {{ count }} times.
  {% endtrans %}
</section>
